#
# Logical Preferences generated for Lattice by Synplify map202103lat, Build 107R.
#

# Period Constraints 
#FREQUENCY NET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U3_CLK/s_u3_xclk" 280.0 MHz;


# Output Constraints 

# Input Constraints 
#INPUT_SETUP "PERST_N" 3.6 NS CLKNET  = "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk";
#INPUT_SETUP "SF_MISO" 3.6 NS CLKNET  = "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi";
#INPUT_SETUP "UART_RX_0" 3.6 NS CLKNET  = "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#INPUT_SETUP "UART_RX_1" 3.6 NS CLKNET  = "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#INPUT_SETUP "UART_RX_2" 3.6 NS CLKNET  = "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#INPUT_SETUP "UART_RX_3" 3.6 NS CLKNET  = "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#INPUT_SETUP "UART_RX_4" 3.6 NS CLKNET  = "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";

# Point-to-point Delay Constraints 

#MULTICYCLE FROM CLKNET "U1_CORE/U3_CLK/s_u3_xclk"  TO CLKNET "U1_CORE/U3_CLK/s_u3_xclk"  2X;


# Block Path Constraints 
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out";
#BLOCK PATH FROM CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U3_REFCLK/s_u3_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys" TO CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/PCLK";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/o_clk_pll_out";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/s_u1_clk_sys" TO CLKNET "U1_CORE/U3_CLK/U1_PLL.PLL_E5/s_u3_clk_spi";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
