BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
BLOCK PATH FROM PORT "PERST_N" ;
BLOCK PATH FROM CELL "*ctc_reset_chx*" ;

BANK 0 VCCIO 3.3 V;
BANK 2 VCCIO 2.5 V;

USE PRIMARY NET "U1_CORE/U1_PCIE.U1_E5/s_u2_pclk" ;
USE PRIMARY PURE NET "s_u1_clk_sys" ;

FREQUENCY NET "U1_CORE/U1_PCIE.U1_E5/s_u3_refclk" 100.000000 MHz PAR_ADJ 10.000000 ;
FREQUENCY NET "U1_CORE/U1_PCIE.U1_E5/s_u2_pclk" 250.000000 MHz PAR_ADJ 25.000000 ;
FREQUENCY NET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/ff_rx_fclk_0" 250.000000 MHz PAR_ADJ 25.000000 ;
FREQUENCY NET "U1_CORE/U1_PCIE.U1_E5/U2_PHY/tx_pclk" 250.000000 MHz PAR_ADJ 25.000000 ;
FREQUENCY NET "s_u1_clk_sys" 125.000000 MHz PAR_ADJ 12.500000 ;

# MCCLK_FREQ : 19.4, 38.8, 62.0
SYSCONFIG CONFIG_MODE=SPI_SERIAL MCCLK_FREQ=62.0 CONFIG_IOVOLTAGE=3.3 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE ;
